.container {
    display: flex;
    padding: 10px;

}
img {
 
    height: 40px;
    width: 40px;
}
.nav li {
    display: inline;
    flex: space-around;
}
.nav a {
    color:rgb(0, 0, 0);
    text-decoration: none;
}
 
 nav {
    display:flex;
    justify-content: space-around;
    align-items: center ;

    font-family: 'Oxygen', sans-serif;
 }
 a {
    display: inline-block;
    width: 50px;
    text-decoration: none;
    

  }
  nav,
  .scroll-container {
    display: block;
    margin: 0 auto;
    text-align: space-between;
  }
  nav {
    width: 339px;
    padding: 5px;
    border: 1px solid white;
  }
  .scroll-container {
    
    height: 90rem;
    
  }
  .scroll-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 5em;
  }