div.head {
  color: aliceblue;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: first baseline;
}
body {
  background-color: black;
}
div.page1 {
  display: flex;
  border-radius: 50px;
  background-color: #302f2f96;
  border-color: #222222;
  flex-direction: row;
  justify-content: space-evenly;
}
.text1 {
  color: white;
  font-size: x-large;
  margin-top: 5vw;
  margin-left: 7vw;
}

.text2 {
  color: white;
  font-size: 3vw;
  margin-top: auto;
  
}
.text21 {
  margin-left: 4.6vw;
}
.text22 {
  margin-left: 4.5vw;
}
.text23 {
  margin-left: 4.8vw;
}
.whichlaptop { 
  color: white;
  font-size: 2.5vw;
  margin-left: 35vw;
}
.zai1 {
  font-size: 40px;
}
.ipadpro {
  background-color: #222222;
  border-radius: 40px;
  border-width: 10px;
  border-color: #222222;
}
.ipadair {
  background-color: #222222;
  border-radius: 40px;
  border-width: 10px;
  border-color: #222222;
}
.ipad2 {
  background-color: #222222;
  border-radius: 40px;
  border-width: 10px;
  border-color: #222222;
}
.ipad1 {
  background-color: #222222;
  border-radius: 40px;
  border-width: 10px;
  border-color: #222222;
}
.ipadmini {
  background-color: #222222;
  border-radius: 40px;
  border-width: 10px;
  border-color: #222222;
}


.text7 {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text5 {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text6 {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text8 {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text9 {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text10 {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.ipad {
  display: flex;
  color: aliceblue;
  flex-direction: row;
  justify-content: space-around;
}
.ipadphoto {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.chip {
  border-radius: 10px;
  margin-left: 40%;
}