div.head {
  color: aliceblue;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border-width: 1px;
  border-bottom-width: 3px;
  border-style: solid;
  border-color: white;
  background-color: #222222;
  margin-bottom: 50px;
}
a {
  color: aliceblue;
  font-size: 20px;
  text-decoration-line: none;
}
body {
  background-color: black;
}
div.macbookM1 {
  display: flex;
  border-radius: 50px;
  background-color: #222222;
  flex-direction: row;
  justify-content: space-around;
}
div.macText {
  margin-left: 50px;
  color: aliceblue;
}
.text1 {
  margin-top: 10px;
  font-size: 15px;
}
.text2 {
  margin-top: 2px;
  font-size: 20px;
  margin-bottom: 40px;
}
.text3 {
  font-size: 50px;
  margin-bottom: 1px;
}
div.a {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}
.Learn-more {
  margin-left: 15px;
}
.zai {
  font-size: 20px;
}
.text4 {
  margin-top: 20px;
  display: flex;
  color: aliceblue;
  flex-direction: row;
  justify-content: center;
  font-size: 150%;
}
.macBook {
  display: flex;
  color: aliceblue;
  flex-direction: row;
  justify-content: space-around;
  margin: 60px;
}
.mac13Photo {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text7 {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text5 {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text6 {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.text8 {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(248, 35, 35, 0.973);
  margin-left: 55px;
  margin-right: 55px;
  border-radius: 15px;
}
.text9 {
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: rgba(248, 35, 35, 0.973);
}
.text10 {
  margin-top: 20px;
  font-size: 40px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.zai1 {
  font-size: 50px;
}
.mac13 {
  background-color: #222222;
  border-radius: 40px;
  border-width: 10px;
  border-color: #222222;
  width: 230px;
  margin: 30px;
}
.mac132 {
  background-color: #222222;
  border-radius: 40px;
  border-width: 100px;
  border-color: #222222;
  width: 230px;
  margin: 30px;
}
.mac15 {
  background-color: #222222;
  border-radius: 40px;
  border-width: 10px;
  border-color: #222222;
  width: 230px;
  margin: 30px;
}
.memory {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.chip {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.zai2 {
  font-size: 30px;
}
.zai4 {
  font-size: 30px;
}
.battery {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.camera {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.speaker {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.finger {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.macPhoto {
  height: 400px;
  width: auto;
}
.buy {
  background-color: rgba(248, 35, 35, 0.973);
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}
.Learn-more {
  color: rgba(248, 35, 35, 0.973);
}

@media screen and (max-width: 915px) {
  div.macbookM1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50px;
    width: auto;
    margin: 65px;
  }
  .macPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
  }
  .macBook {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 75px;
  }
  .mac13 {
    width: auto;
  }
  .mac132 {
    width: auto;
  }
  .mac15 {
    width: auto;
  }
}
@media screen and (max-width: 450px) {
  div.macbookM1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 50px;
    width: auto;
    margin: 5px;
  }
  .macPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
  }
  .macBook {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 25px;
  }
  .mac13 {
    width: auto;
  }
  .mac132 {
    width: auto;
  }
  .mac15 {
    width: auto;
  }
  .text4 {
    margin: 25px;
    display: fles;
    color: aliceblue;
    flex-direction: row;
    justify-content: center;
    font-size: 150%;
  }
}
